* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
h1 {
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0;
    margin: 0;
}
h3 {
    padding: 0;
    margin: 0;
}

.container {
    width: 1139px;
    margin: 0 auto;
}

header {
    padding-top: 35px;
    background: #ffd3d3;
    .container {
        display: flex;
    }
    .title {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 32px;
        color: #000;
        text-decoration: none;
        margin-top: 10px;
    }
    .profil {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 32px;
        color: #000;
        text-decoration: none;
        margin-left: 20px;
        margin-top: 10px;
    }
}


//main
main {
    overflow: hidden;
    .head {
        position: relative;
        background: #ffd3d3;
        padding-top: 92.08px;
        padding-bottom: 72.99px;
        fill: #ffd3d3;

        h1 {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 96px;
            color: #000;
        }
        .elipse {
            position: absolute;
            height: 149px;
            width: 110%;
            bottom: -149px;
            background: #ffd3d3;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }
    .comands {
        margin-top: 280.19px;
        margin-bottom: 102px;
        width: 1274px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        &-mark {
            margin-top: 30px;
            display: block;
            text-align: center;
            button {
                padding: 21px 35px;
                border-radius: 20px;
                background: #ff8484;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 32px;
                color: #000;
                border: none;
            }
        }
    }

    .rate {
        .title {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 48px;
            color: #000;
            text-align: center;
            margin-bottom: 20px;
        }
        &-table {
            margin: 0 auto;
            width: 1180px;
            background: #ffd3d3;
            border: 4px solid #ff8484;
            border-radius: 20px;
            ul {
                padding-top: 24px;
                padding-bottom: 24px;
                border-bottom: #ff8484 solid 4px;
                display: flex;
                li {
                    list-style: none;
                    font-family: "Inter", sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    color: #000;
                }
                .rate-table-title__text {
                    margin-right: 120px;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    color: #000;
                    width: 37px;
                }
                .rate-table-title__text:first-child {
                    margin-right: 104px !important;
                    margin-left: 20px;
                    font-family: "Inter", sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    color: #000;
                    width: 256px;
                }
                .rate-table-title__text:last-child {
                    margin-left: 27px;
                    margin-right: 0;
                }
            }
            ul:first-child {
                justify-content: space-between;
                padding-left: 355px;
                padding-top: 30px;
                padding-bottom: 13px;
                padding-right: 30px;
            }
            ul:last-child {
                border: none;
            }
        }
    }
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 471px;
    height: 384px;  
    margin-right: 40px;
    .commandH1 {
        background: #ffd3d3;
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        color: #000;
        text-decoration: none;
    }
}

.swiper-button-next {
    right: -50px;
    color: #ff8484;
}
.swiper-button-prev {
    left: -50px;
    color: #ff8484;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}


//footer
footer {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 60px;
    background: #ff8484;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .avt {
        h1 {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
        }
        p {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
        }
    }
    .footer-right {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        span {
            display: block;
        }
    }
}