* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
h1 {
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0;
    margin: 0;
}
h3 {
    padding: 0;
    margin: 0;
}
form {
    margin-top: 149px;
    overflow-y: auto;
    padding-right: 16px;
    background: #ffd3d3;
    width: 1080px;
    margin: 0 auto;
    padding-left: 43px;
    border-radius: 20px;
    p {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #000;
    }
    h1 {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 64px;
        color: #000;
        margin-bottom: 20px;
    }
    .top {
        display: flex;
        justify-content: space-between;
        input {
            width: 500px;
            height: 50px;
            border: none;
            border-radius: 10px;
            margin-top: 10px;
            padding-left: 10px;
        }
        #bot {
            margin-top: 20px;
        }
    }
    .baner {
        margin-top: 20px;
        input {
            margin-top: 5px;
            background: #fff;
        }
    }
    .participants {
        margin-top: 20px;
        h1 {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 32px;
            color: #000;
        }
        .user {
            margin-bottom: 30px;
            h2 {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 24px;
                color: #000;
            }
            .info {
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                &-left {
                    input {
                        border-radius: 10px;
                        width: 300px;
                        height: 40px;
                        margin-top: 5px;
                        padding-left: 10px;
                        border: none;   
                    }
                    p {
                        margin-top: 20px;
                    }
                    p:first-child {
                        margin-top: 0;
                    }
                }
                &-right {
                    .form__field {
                        border-radius: 10px;
                        margin-top: 5px;
                        padding-left: 10px;
                        border: none; 
                        width: 650px;
                        height: 158px;
                        margin-bottom: 31px;
                    }
                    .file {
                        background: #fff;
                    }
                }
            }
        }
        .user:last-child {
            margin-bottom: 0;
        }
        button {
            cursor: pointer;
            padding: 19px 25px;
            border-radius: 20px;
            border: none;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: #000;
            background: #ff8484;
        }
    }
    .register-btn {
        margin-top: 60px;
        margin-bottom: 30px;
        cursor: pointer;
        border-radius: 20px;
        width: 100%;
        padding: 16px 0 16px 0;
        background: #e04646;
        border: none;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #fff;
    }
}

.hidden {
    display: none;
}

